go 1.25.0

use (
	./gateway
	./pkg
	./services/admin
	./services/cart
	./services/catalog
	./services/identity
	./services/inventory
	./services/notification
	./services/order
	./services/payment
	./services/shipment
	./services/vendor
)
