go 1.27.0

toolchain go1.27.2

use (
	./gateway
	./pkg
	./services/admin
	./services/cart
	./services/catalog
	./services/identity
	./services/inventory
	./services/notification
	./services/order
	./services/payment
	./services/review
	./services/shipment
	./services/vendor
)
